body {
    background-color:black;
    font-family:"Rubik", Lucida Grande, Verdana, sans-serif;
    color: aquamarine;
    text-align: center;
}

h1 {
    font-weight: 600;
    font-size: 4em;
}

.button {
    border: 2px solid;
    border-color: aquamarine;
    border-radius: 20px;
    background-color: black;
    color: aquamarine;
    font-weight: 400;
    font-size: 6em;
    font-family:"Rubik", Lucida Grande, Verdana, sans-serif;
    padding: 0.5em;
}

.button:hover {
    background-color: aquamarine;
    color: black;
    transition: 1.8s;

}

.button:active {
    background-color: lightcoral;
    border-color: lightcoral;
    color: black;
    transition: 0s;
}

.vertical-button {
    /* margin-bottom: 0.5em;
    margin-top: 0.5em; */
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-right: 0.8em;
    padding-left: 0.8em;
}

.horizontal-button {
    flex: 1;
}

.right-button {
    margin-left: 20%;
}

.left-button {
    margin-right: 20%;
}