body {
    background-color:black;
    font-family:"Rubik", Lucida Grande, Verdana, sans-serif;
    color: aquamarine;
    text-align: center;
    
}

h1 {
    font-weight: 600;
    font-size: 2em;
}

.container {
    display: flex;
    flex-wrap: nowrap;
}

.section {
    width: 50%;
    margin: 0%;
}

.letter-grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 1%;
    grid-gap: 2%;
}

.letter-grid-container > div {
    font-size: 3em;
    padding-top: 0.4em;
    padding-left: 0.5em;
    padding-bottom: 0.4em;
    padding-right: 0.5em;


}

.spoken {
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: left;
}

.button {
    border: 2px solid;
    border-color: aquamarine;
    border-radius: 20px;
    background-color: black;
    color: aquamarine;
    font-weight: 400;
    font-family:"Rubik", Lucida Grande, Verdana, sans-serif;
}

.accent {
    color: lightcoral;
    border-color: lightcoral;
}

.nav-button {
    font-size: 6em;
    padding: 0.5em;
}

.button:hover {
    background-color: aquamarine;
    color: black;
    transition: 1.8s;

}

.button:active {
    background-color: teal;
    color: black;
    transition: 0s;
}

.accent:active {
    background-color: red;
}


.vertical-button {
    /* margin-bottom: 0.5em;
    margin-top: 0.5em; */
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-right: 0.8em;
    padding-left: 0.8em;
}

.horizontal-button {
    margin-top: 0.25em;
    margin-bottom: 0.25em;

}
.accent:hover{
    background-color: lightcoral;
}

.right-button {
    margin-left: 5%;
}

.left-button {
    margin-right: 5%;
}

.stop-button {
    padding-left: 0.8em;
    padding-right: 0.8em;
    
}